.cart {
    margin-top: 50px;
    min-height: 55.5vh;
    padding: 0 5vw;
}
.cart-items {
    width: 65%;
    
}

.cart-items-title,
.cart-items-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    color: grey;
    width: 100%;
    font-size: 15px;
    align-items: center;
    justify-items: center;
}

.cart-items-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-items-title p,
.cart-items-item p {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.cart-list-scroll {
    height: 30vh;
    width: 100%;
    overflow-y: auto;
}
.cart-list-scroll::-webkit-scrollbar {
    width: 4px;
}
.cart-list-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.cart-list-scroll::-webkit-scrollbar-thumb {
    background: tomato;
}
.cart-list-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 150, 132);
}

.cart hr {
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cross {
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    color: rgb(225, 39, 39);
    padding: 0;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
}
.cross:hover {
    transform: scale(1.15);
}
.cart-bottom {
    width: 25vw;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cart-total {
    width: 20%;
    position: absolute;
    top: 150px;
    right: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr {
    margin: 10px 0;
    width: 100%;
}
.cart-total button {
    border: none;
    color: #fff;
    background-color: tomato;
    width: 100%;
    margin-top: 10px;
    padding: 12px 0;
    border-radius: 5px;
}
.Final-total {
    font-weight: 800;
}

.quan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
.quan p {
    font-weight: 500;
    width: 9px;
    display: flex;
    justify-content: center;
}
.quan button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.quan .green {
    border: 1px solid rgb(161, 249, 161);
    background-color: greenyellow;
    color: green;
    transition: background-color 0.3s ease;
}
.quan .red {
    background-color: rgb(249, 167, 167);
    transition: background-color 0.3s ease;
    color: red;
}

.quan .green:active {
    background-color: rgb(84, 232, 84);
}
.quan .red:active {
    background-color: rgb(255, 120, 120);
}

.cart-NoItems {
    font-size: larger;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media (max-width: 750px) {
    .cart {
        padding: 0 2vw;
    }
    .cart-items {
        width: 100%;
        /* font-size: 4px; */
    }
    .cart-items-title, .cart-items-item {
        width: 100%;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 13px;
        text-align: center;font-size: 10px;
    }
    .cart-bottom {
        margin-top: 10px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .cart-total {
        max-width:65%;
        font-size: 10px;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding: 10px 0;
        
    }
    .cart-total button {
        width: 100%;
    }
    .cart-list-scroll {
        height: 20%;
        width: 100%;
    }
    .quan button{
        width: 20px;
        height: 20px;
    }
    
}
