.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;
    padding-top: 30px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.footer-container{
    width: 30%;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    position: absolute;
    left: 30px;
    width: 10%;
    margin-top: 25px;
}
.footer-logo{
    width: 100%;
    height: 50px;
}
.footer-social-icons{
    gap: 10px;
    width: 70px;
    margin-left: 10px;
    display: flex;
}
.footer-social-icons img{
    width: 30px;
    height: 20px;
    cursor: pointer;
}

hr{
    width: 70%;
}
span:hover{
    color: tomato;
}

.active{
    border-bottom: 2px solid tomato;
}

.footer-social-icons img:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .footer-container {
        width: 80%;
    }
    .footer-content-contact {
        width: 100%;
        font-size: 12px;
    }
    .footer-social-icons img {
        width: 25px;
        height: 18px;
    }
}
